@media only screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .pricing-container {
    margin: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .item-container {
    /* gap: 2rem; */
  }
}
