*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65.2%;
}

body {
  font-family: "Montserrat", sans-serif, serif;
  text-rendering: optimizeLegibility;
  color: #222;
  background: #f7f7f7;
}

.pricing-container {
  margin: auto;
  max-width: 80rem;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin: 3rem 0;
}

h2 {
  padding: 2rem 0;
}

.flex {
  display: flex;
  gap: 2rem;
}

.flex-item {
  flex: 1;
}

.float {
  float: left;
}

.item-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.8rem 1rem;
  border-top: 1px solid #eee;
}

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.event-makeup {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.7),
      rgba(34, 34, 34, 0.7)
    ),
    url(https://images.unsplash.com/photo-1492684223066-81342ee5ff30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  color: #f7f7f7;
}

.bridal-wedding {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.5),
      rgba(34, 34, 34, 0.5)
    ),
    url(https://images.unsplash.com/photo-1549488497-94b52bddac5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  color: #f7f7f7;
}

.savannah-note {
  margin: 0.8rem 1rem;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.price {
  font-weight: 700;
}
